absl-py==2.1.0
aiofiles==23.2.1
altair==5.3.0
annotated-types==0.6.0
anyascii==0.3.2
anyio==4.3.0
attrs==23.2.0
audio-separator==0.16.6
audioread==3.0.1
av==10.0.0
Babel==2.14.0
blinker==1.8.1
boto3==1.34.95
botocore==1.34.95
cached_path==1.6.2
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cn2an==0.5.22
colorama==0.4.6
coloredlogs==15.0.1
contextlib2==21.6.0
contourpy==1.2.1
ctranslate2==3.24.0
cycler==0.12.1
Cython==3.0.10
dateparser==1.1.8
decorator==5.1.1
Deprecated==1.2.14
diffq==0.2.4
Distance==0.1.3
docopt==0.6.2
dtw-python==1.4.2
einops==0.8.0
eng-to-ipa==0.0.2
exceptiongroup==1.2.1
fastapi==0.110.3
faster-whisper==0.9.0
ffmpy==0.3.2
filelock==3.13.4
flatbuffers==24.3.25
fonttools==4.51.0
fsspec==2024.3.1
fugashi==1.3.0
g2p-en==2.1.0
g2pkk==0.1.2
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-core==2.4.1
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gradio==3.48.0
gradio_client==0.6.1
grpcio==1.63.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.17.3
humanfriendly==10.0
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
inflect==7.0.0
intel-openmp==2021.4.0
jaconv==0.3.4
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.0
jsonlines==1.2.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
julius==0.2.7
kiwisolver==1.4.5
langid==1.1.6
lazy_loader==0.4
librosa==0.10.1
llvmlite==0.42.0
loguru==0.7.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mdurl==0.1.2
mecab-python3==1.0.5
melotts @ git+https://github.com/myshell-ai/MeloTTS.git@abf885acf7c8322af07e6584099748cba09e3909
mkl==2021.4.0
ml-collections==0.1.1
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
-e git+https://github.com/myshell-ai/OpenVoice@34874b77e8ed4fd63ebafcfefafbe31002748486#egg=MyShell_OpenVoice
networkx==2.8.8
nltk==3.8.1
num2words==0.5.12
numba==0.59.1
numpy==1.26.4
onnx==1.16.0
onnx2torch==1.5.14
onnxruntime==1.17.3
onnxruntime-gpu==1.17.1
openai-whisper==20231117
orjson==3.10.2
packaging==24.0
pandas==2.0.3
pillow==10.3.0
plac==1.4.3
platformdirs==4.2.1
pooch==1.8.1
proces==0.1.7
progressbar==2.5
proto-plus==1.23.0
protobuf==4.25.3
pyarrow==16.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.0
pydub==0.25.1
Pygments==2.17.2
pykakasi==2.2.1
pyparsing==3.1.2
pypinyin==0.50.0
pyreadline3==3.4.1
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.0
regex==2024.4.28
requests==2.31.0
resampy==0.4.3
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
s3transfer==0.10.1
samplerate==0.1.0
scikit-learn==1.4.2
scipy==1.11.4
semantic-version==2.10.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soundfile==0.12.1
soxr==0.3.7
starlette==0.37.2
streamlit==1.33.0
sympy==1.12
tbb==2021.12.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
threadpoolctl==3.5.0
tiktoken==0.6.0
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.1
torch==2.3.0+cu118
torchaudio==2.3.0
torchlibrosa==0.1.0
torchvision==0.18.0+cu118
tornado==6.4
tqdm==4.66.2
transformers==4.27.4
txtsplit==1.0.0
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
urllib3==1.26.18
uvicorn==0.29.0
voicefixer @ git+https://github.com/haoheliu/voicefixer.git@ad4304594ef71ae47303f3cf9a8791584fcd7d67
wasabi==0.10.1
watchdog==4.0.0
wavmark==0.0.3
websockets==11.0.3
Werkzeug==3.0.2
whisper-timestamped==1.14.2
win32-setctime==1.1.0
wrapt==1.16.0
zipp==3.18.1
